@model FormBuddyWeb.Models.RegisterViewModel

@{
    ViewBag.Title = "Register Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you, @Model.Firstname @Model.Lastname</h2>

You have created your account successfully.
